<footer>
    <div class="row">
        <div class="col-lg-4 col-sm-4">
            <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='images/logo1.png') }}"
                                                  alt="brand-logo"/>Price Plotter</a>
        </div>


        <div class="col-lg-4 col-sm-4">
            <p>&copy; {{ year }} Price Plotter. All rights reserved. <br/>
                Designed with ❣️ by Santhoshkumar V </p>
        </div>

        <div class="col-lg-4 col-sm-4">
            <div class="social-links">
                <h6>Get In Touch</h6>
                <a href="https://github.com/Santhoshkumar2298" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/santhoshkumarv98" target="_blank"><i
                        class="fa-brands fa-linkedin"></i></a>
                <a href="https://twitter.com/_D4rk_Ph03n1x" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://t.me/Phoenix2222" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                <a href="mailto:rangasan221998@gmail.com" target="_blank"><i class="fa-brands fa-google"></i></a>
                <a href="https://www.instagram.com/rangaraj_santhosh?igsh=ZGNjOWZkYTE3MQ==" target="_blank"><i
                        class="fa-brands fa-instagram"></i></a>

                <!--  ADD YOUR WHATSAPP NUMBER LINK IN HREF-->
                <a href="#" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </div>


        <!-- ADD YOUR BUY ME A COFFEE WIDGET IF YOU WANT -->
        <script data-name="BMC-Widget" data-cfasync="false"
                src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="santhoshkumar2298"
                data-description="Support me on Buy me a coffee!"
                data-message="If you enjoy the content, consider supporting me, it helps me to keep motivated."
                data-color="#843AF3" data-position="Right" data-x_margin="18" data-y_margin="18"></script>

    </div>
</footer>

</body>
</html>