{% extends "base.html" %}

{% block content %}

{% with page = "profile" %}
{% include "sidebar.html" %}
{% endwith %}

<section class="content-section">
    {% with title="Profile", user_name=current_user.username %}
    {% include "navbar.html" %}
    {% endwith %}

    <div class="main-content">
        <div class="col-lg-6 col-md-4 pt-3 pb-5 m-auto">
            <div class="formHolder blue-text">
                <div class="form-background"></div>
                <h4 class="text-center mt-2">Profile</h4>
                <form action="{{url_for('profile_settings')}}" method="post" novalidate>
                    {{form.csrf_token}}
                    <div class="form-group mt-3">
                        <label class="blue-text">{{ form.username.label }}</label>
                        {{ form.username(size=30, class="form-control", placeholder="Username") }}
                        {% for err in form.username.errors %}
                        <p class="error">{{err}}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group mt-3">
                        <label class="blue-text">{{ form.email.label }}</label>
                        {{form.email(size=30, class="form-control", placeholder="Email") }}
                        {% for err in form.email.errors %}
                        <p class="error">{{err}}</p>
                        {% endfor %}
                    </div>

                    <div class="form-group mt-3">
                        <label class="blue-text">{{ form.feedback.label }}</label>
                        {{form.feedback(size=30, class="form-control feedback",
                        placeholder="Turning Ideas into Action: Your Feedback Ignites Our Website's Evolution!") }}
                        {% for err in form.feedback.errors %}
                        <p class="error">{{err}}</p>
                        {% endfor %}
                    </div>


                    <div class="text-center mt-3">
                        {{ form.update_btn(class="btn btn-lg addBtn") }}
                    </div>


                    <div id="loading-spinner" class="text-center mt-2">
                        <div class="spinner-border text-light" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</section>

{% endblock %}